// SimpleCom.rc
// resource script for the SimpleCom object

#include <windows.h>
#include "resource.h"
  
1 typelib mylib.tlb

IDD_DIALOGSearchSpectralData DIALOGEX 0, 0, 470, 424
STYLE  WS_POPUP | WS_SYSMENU | WS_CAPTION | DS_MODALFRAME
CAPTION "File List"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT		"Base Folder: ", IDC_STATIC, 7, 9, 50, 8
	EDITTEXT	IDC_EDITBASEFOLDER, 57, 6, 350, 14
	PUSHBUTTON	"Browse", IDC_BROWSEFORBASEFOLDER, 407, 6, 30, 14
	LTEXT		"File Ext", IDC_STATIC, 7, 24, 50, 8
	EDITTEXT	IDC_EDITFILEEXT, 57, 21, 30, 14
	PUSHBUTTON	"Do Walk", IDC_DOWALK, 92, 21, 50, 14
	LTEXT		"Selected File", IDC_STATIC, 7, 39, 50, 8
	EDITTEXT	IDC_EDITSELECTEDFILE, 57, 36, 350, 12, ES_READONLY
	LTEXT		"File Comment", IDC_STATIC, 7, 54, 50, 8
	LTEXT		"", IDC_FILECOMMENT, 57, 51, 180, 14, SS_NOTIFY, WS_EX_CLIENTEDGE
	LTEXT		"", IDC_PLOT, 7, 67, 456, 131, SS_NOTIFY, WS_EX_CLIENTEDGE
	LTEXT		"", IDC_PLOTSTATUS, 208, 51, 181, 14, SS_NOTIFY, WS_EX_CLIENTEDGE
	LTEXT		"", IDC_BROWSE, 7, 205, 456, 212, SS_NOTIFY, WS_EX_CLIENTEDGE
END

#define VER_FILEVERSION             1,0,0,1
#define VER_FILEVERSION_STR         "1.0.0.1\0"

#define VER_PRODUCTVERSION          1,0,0,0
#define VER_PRODUCTVERSION_STR      "1.0\0"

#ifndef DEBUG
#define VER_DEBUG                   0
#else
#define VER_DEBUG                   VS_FF_DEBUG
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION    	VER_FILEVERSION
PRODUCTVERSION 	VER_PRODUCTVERSION
FILEFLAGSMASK  	VS_FFI_FILEFLAGSMASK
FILEFLAGS		VER_DEBUG
FILEOS         	VOS__WINDOWS32
FILETYPE		VFT_DLL
FILESUBTYPE    	VFT2_UNKNOWN
BEGIN
BLOCK "RunScanTimer"
BEGIN
BLOCK "040904E4"
BEGIN
VALUE "CompanyName", "Sciencetech - Inc"
VALUE "FileDescription", "Run the ScanTimer object"
VALUE "FileVersion", VER_FILEVERSION_STR
VALUE "InternalName", "RunScanTimer"
VALUE "ProductName", "SciSpec"
VALUE "ProductVersion", VER_PRODUCTVERSION_STR
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x409, 1252
END
END

